/* fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Julius+Sans+One&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #121212;
    --dark-highlight: #070707;
    --nav-transparent: #0e0c0c80;
    --primary-color: #03DAC5;
    --secondary-color: #bb86fb;
    --primary-text: #F2F6F9;
    --secondary-text: #D9D9D9;
    --tertiary-text: #067267;

    --accent-color: #616161;
    --second-accent-color: #3b3a3a;

    --header-font: "Bebas Neue", sans-serif;
    --subheader-font: "Julius Sans One", sans-serif;
    --another-font: "League Spartan", sans-serif;
}
/* Hamburger Menu Customization Styling */
.custom-toggler {
    color: white;
}
/* Navbar Section Styling */
.navbar{
    background: var(--background-color);
}
.navbar a span{
    color: var(--primary-text);
    font-family: var(--header-font);
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar a img{
    width: 100px;
    object-fit: cover;
}

.sidebar{
    background-color: var(--background-color);
}
.sidebar img{
    width: 100px;
    object-fit: cover;
}

.sidebar span{
    font-family: var(--header-font);
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--primary-text);
}

.sidebar ul li a{
    color: var(--primary-text);
    transition: all 0.1s ease-in-out;
}

.sidebar ul li a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

#header-nav.scrolled {
    background-color: #0e0c0cce;
    --secondary-color: #FBFEF9;
}



/* Body */
body{
  background: var(--background-color);
}

/* Hero Section Styling */
#hero-section{
    padding: 6rem 0;
    background-image: url("./Assets/img/herobg.png");
    background-size: cover;
}

#hero-section h1{
    font-family: var(--header-font);
    font-size: 5.5rem;
    color: var(--primary-text);
    margin-bottom: 1.5rem;
}

#hero-section span{
    color: var(--primary-color);
}

#hero-section h2{
    font-family: var(--subheader-font);
    font-size: 2rem;
    color: var(--secondary-text);
    margin-bottom: 1.5rem;
}

    /* Buttons */
.button-groups{
    display: inline;
}
#hero-section #downloadCV{
    background: var(--primary-color);
    outline: none;
    padding: 0.5rem 1rem;
    border: none;
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 20px;
    

    box-shadow: inset 0 0 0 0 var(--accent-color);
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
    transition: all 0.5s linear;
}

#hero-section #downloadCV:hover {
    color: var(--primary-text);
    box-shadow: inset 400px 0 0 0 var(--accent-color);
}

#hero-section #githubAccount{
    background: var(--second-accent-color);
    outline: none;
    padding: 0.5rem 1rem;
    color: var(--primary-text);
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: rgba(19, 51, 65, 0.329)0px 1px 4px;    
}
#hero-section #githubAccount:hover{
    background: transparent;
    outline: 1px solid var(--primary-color);
}


#hero-section #hero-socials i{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 .6rem;
    color: var(--accent-color);
    transition: all 0.3s linear;
}

#hero-section #hero-socials i:hover{
    color: var(--primary-color);
}

/* Modal Styling */
.modal .modal-dialog .modal-content{
    background-color: var(--second-accent-color) !important; /* change the background color */
    border-color: 1px solid var(--primary-color); /* change the border color */
    color: var(--primary-text);
  }
.modal .modal-body img{
    width: 100%;
}

/* Brand Logo Slider Styling */
/* Marquee Section for Brand Logo Slider */
#brand-slider{
    padding: 1rem 0;
    background-color: var(--dark-highlight);
    overflow: hidden;
    align-items: center;
}

#brand-slider .logo-slide{
    white-space: nowrap;
}
#brand-slider .logo-slide span{
    font-size: 5rem;
    font-style: italic;
    margin: 0 15rem;
    font-family: var(--header-font);
    color: var(--primary-text);
}
#brand-slider .logo-slide #first-span{
    color: var(--primary-color);
}
#brand-slider .logo-slide #second-span{
    color: var(--secondary-color);
    margin: 0;
}
#brand-slider .logo-slide #third-span{
    color: var(--secondary-color);
    margin: 0;
}

/* About Us Section Styling */

#about-us-section{
    background: url("./Assets/img/aboutusbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
}


#about-us-section #about-us-col img{
    border: 2px solid black;
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    transition: all 0.1s linear;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#about-us-section #about-us-col img:hover{
    content: url("./Assets/img/hoverimg.png");
    transform: scale(1.004);
    box-shadow: rgba(63, 124, 165, 0.16) 5px 3px 8px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#about-us-section h1{
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 5rem;
}
#about-us-section p{
    color: var(--secondary-text);
    font-family: var(--subheader-font);
}
#about-us-section #about-socials{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
#about-us-section #about-socials i{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 .6rem;   
    color: var(--accent-color);
    transition: all 0.3s linear;
}

#about-us-section #about-socials i:hover{
    color: var(--primary-color);
}

/* Skills Section Styling */

#skills-section{
    background: url("./Assets/img/skillsbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 10rem;
}
#skills-section h1{
    font-size: 5rem;
    color: var(--primary-text);
    position: relative;
    display: inline;
    width: 100%;
    font-family: var(--header-font);
}

#skills-section p{
    font-family: var(--subheader-font);
    color: var(--tertiary-text);
    width: 50%;
}

#skills-section h1::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 50%; /* add this */
    transform: translateX(-50%); /* add this */
    background-color: var(--primary-color);
}

.skillcard{
  background: var(--second-accent-color);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  height: 350px;
  width: 90%;
  border-radius: 20px;
  margin: 1rem 0;
  transition: all 0.1s linear;
}

.skillcard:hover{
  background: var(--tertiary-text);
}
.skillcard h5{
  color: var(--primary-text);
  font-family: var(--header-font);
  font-size: 2rem;
  margin-top: 2rem;
}
.skillcard span{
  color: var(--secondary-text);
  font-family: var(--another-font);
}
.tech-stack h3{
  font-family: var(--header-font);
  font-size: 5rem;
}
.tech-stack i{
  font-size: 3rem;
} 

/* Projects Section Styling */
#project-section{
    background: url("./Assets/img/projectbg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

#project-section #text-row1 h1{
    font-size: 5rem;
    color: var(--primary-text);
    position: relative;
    display: inline;
    width: 100%;
    padding-bottom: .1rem;
    font-family: var(--header-font);
}

#project-section #text-row1 h1::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 50%; /* add this */
    transform: translateX(-50%); /* add this */
    background-color: var(--primary-color);
}

#project-section #text-row2 .line{
    height: 2px;
    background: var(--primary-color);
}

#project-section #text-row2 p{
    color: var(--primary-text);
    font-family: var(--subheader-font);
    font-size: 1.5rem;
}

.filters{
    margin: 7rem auto;
    margin-bottom: 5rem;
}

.filter-button{
    background: transparent;
    outline: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border: none;
    font-family: var(--header-font);
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 0 .8rem;
    color: var(--primary-text);
}

.keep-active{
    padding: 0.5rem 2.5rem;
    background: var(--primary-color);
    color: #121212;
}
.active, .filter-button:hover{
    background: var(--primary-color);
    color: #121212;
}


/* For the projects */
.project-container {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the filter property */
    position: relative; /* Add position relative to enable positioning of the overlay text */
    }


.project-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: all 0.3s linear;
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hide the overlay */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
  }

.project-container span {
    color: var(--primary-text);
    font-size: 1.5rem;
    font-family: var(--another-font);
    text-align: center;
    position: absolute; /* Position the text overlay */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.overlay-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    outline: 2px solid var(--secondary-color);
    color: black;
    padding: 8px 16px;
    border: none;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s linear;
    z-index: 1; /* Ensure the button is above the overlay */
}

.overlay-button:hover{
    background-color: transparent;
    outline: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.project-container:hover .overlay-button {
    opacity: 1; /* Show the button on hover */
}

.project-container:hover img {
    transform: scale(1.3);
    filter: brightness(0.1); /* Darken the image on hover */
}

.project-container:hover span {
    opacity: 1; /* Show the text on hover */
}

#view-all-projects button{
    background: var(--secondary-color);
    border: none;
    color: var(--dark-highlight);
    font-family: var(--another-font);
    font-size: 1.2rem;
    transition: all 0.2s linear;
}

#view-all-projects button:hover{
    background: #b392db1e;
    border: 1px solid var(--secondary-color);
    color: var(--primary-text);
    transform: scale(1.1);
}

/* Contact Section Styling */
#contact-section {
    padding-top: 10rem;
}
#contact-section h3{
    color: var(--secondary-text);
    font-family: var(--subheader-font);
    font-size: 1.2rem;
}
#contact-section h1{
    color: var(--primary-text);
    font-family: var(--header-font);
    font-size: 5rem;
    position: relative;
    display: inline;
}
#contact-section h1::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 50%; /* add this */
    transform: translateX(-50%); /* add this */
    background-color: var(--primary-color);
}


#contact-section .socials{
    flex-wrap: wrap;
}
#contact-section button{
    width: 100%;
    padding: 1rem 1rem;
    margin: 1rem auto;
    text-align: left;
    background: rgba(65, 65, 65, 0.432);
    backdrop-filter: blue(20px);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: rgba(187, 134, 251, 0.274) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s linear;
    
}

#contact-section button:hover{
    background: transparent;
    transform: translateX(5px);
}




/* Footer Style */

/**FOOTER STYLE*/
.site-footer
{
  background-color:var(--dark-highlight);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgb(69, 92, 223);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}   

/**END OF FOOTER*/



